MINIO_VOLUMES={% for host in vars['play_hosts'] %} http://{{hostvars[host]['ansible_default_ipv4']['address']:9199}}/export{% endfor %}

MINIO_OPTS="--address :9199"

MINIO_ACCESS_KEY="{{accessKey}}"

MINIO_SECRET_KEY="{{secretKey}}"
